

<main role="main" class="container">

  <h1 class="pb-3 mb-4 font-italic border-bottom">
    My Blogs
  </h1>

      <%= link_to 'Write a New Blog', new_blog_path if logged_in?(:site_admin) %>

      <%= paginate @blogs %>

      <%= render @blogs %>

      <%= paginate @blogs %>



</main><!-- /.container -->




