<h1>Would you like to concact me?</h1>
<hr>
<div class="container">
    <div class = "row">
        <div class = "col">
            <h3>Address</h3>
            <p>2001 Carrs mill rd, Fallston, Md 21047</p>
            <h3>Email</h3>
            <p><a href="mailto:Harrisonjameskunkel@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
            <h3>Phone</h3>
            <p><%= number_to_phone("4433562555") %></p>
        </div>
        <div class = "col">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3077.4293615189636!2d-76.40837288467166!3d39.52736707947838!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c7de3591c31a31%3A0x9d370c6a3bd9ea34!2s2001%20Carrs%20Mill%20Rd%2C%20Fallston%2C%20MD%2021047!5e0!3m2!1sen!2sus!4v1608520611919!5m2!1sen!2sus" width="400" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
</div>
